node_modules
cypress/videos
cypress/screenshots
cypress/cache
cypress/downloads
cypress/sensitive-data/dev-users.json

# sensitive data
cypress/sensitive-data/**
!cypress/sensitive-data/env-users.example.json


# Credentials and Local Configurations
/cypress/fixtures/user-data.json

# Logs
*.log

# reports
# cypress/reports

# IDE specific files
.idea
.vscode

# operating systems
.DS_Store
Thumbs.db