node_modules
yarn.lock
cypress/videos
cypress/screenshots
cypress/cache
cypress/downloads

# Logs
logs
*.log

# reports

# Temporary files and directories
tmp
temp
.tmp

# Environment variables
.env
.env.*
!.env.example # Allow tracking of sample file .env

# IDE specific files
.idea
.vscode

# operating systems
.DS_Store
Thumbs.db