node_modules
cypress/videos
cypress/screenshots
cypress/cache
cypress/downloads

# Credentials and Local Configurations
/cypress/fixtures/user-data.json

# Logs
*.log

# reports
# cypress/reports

# IDE specific files
.idea
.vscode

# operating systems
.DS_Store
Thumbs.db